*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  position: relative;
}
.zoom {
  width: 100%;
  height: 110vh;
  position: relative;
  overflow: hidden;
  background: url('/img/bg.jpg');
  background-size: cover;
}

.zoom::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
  background: linear-gradient(transparent, #fcfcfc);
}

.zoom #layer1 {
  position: absolute;
  width: 100%;
  left: 40%;
  z-index: 1;
  transform: translateX(-50%);
}

.zoom #layer2 {
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 0;
}

.zoom #text {
  position: absolute;
  right: 0;
  width: 100%;
  transform: translateY(50%);
}

.content {
  padding: 3rem 2rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  background: #ffff;
}

/* About Me */
.about-me-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.about-me {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.about-me-text {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-me-text h1 span {
  color: #fe346e;
}
.about-me-text h1 span:hover {
  transition: all 1s linear;
  color: black;
}
.about-me img {
  width: 328px;
  height: 255px;
}

/* Profile Image Hover */

.block {
  position: absolute;
}

.hover-reveal {
  width: 328px;
  height: 260px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.hover-reveal__inner,
.hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Profile Image Hover End*/

.python {
  width: 25vh;
}
.HTML_CSS_Javascript {
  width: 25vh;
}

.react {
  width: 8vh;
  margin-right: 1rem;
}

.react > img {
  border-radius: 20%;
}
.react > img:hover {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sql {
  width: 8vh;
}

.sql > img {
  border-radius: 5px 0%;
}
.drf {
  width: 10rem;
}
.my-stack-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abf0e9;
}
.my-stack-wrapper h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills-wrapper {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 9fr;
  overflow: hidden;
}

.skills-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #abf0e9;
}
.skills {
  width: 90%;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
}

@media screen and (min-width: 1301px) {
  .skills-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
  }
}

@media screen and (max-width: 756px) {
  #text {
    display: block;
  }
  #layer1,
  #layer2 {
    display: none;
  }
  .zoom {
    background-size: cover;
    background-repeat: no-repeat;
    height: 52vh;
  }
}

.projects {
  height: 100vh;
}
.content-wrapper {
  padding: 0 5rem;
}
.grid {
  display: grid;
  grid-template-columns: 3.4fr 2fr;
  margin: 1rem;
}
.atm,
.LMS {
  border-radius: 1rem;
  margin: 0 1rem;
  height: 40vh;
  overflow: hidden;
  transition: transform 100ms ease-in;
  position: relative;
}
.LMS {
  background-color: #2f8ded;
}

.atm > img {
  transform: translateY(-1rem);
  width: 100%;
}
.LMS > img {
  transform: translateY(-3rem);
  width: 150%;
}

.tkp,
.palette,
.shopem {
  border-radius: 1rem;
  margin: 0 1rem;
  height: 48vh;
  overflow: hidden;
  transition: transform 100ms ease-in;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr;
  margin: 3rem 1rem;
}

.palette {
  background-color: #abc2e8;
}
.palette-inner {
  padding: 4rem;
}
.palette h1 {
  color: white;
  text-align: center;
}
.tkp {
  background-image: url('/img/WEB_SCRAPING.png');
  background-position: center;
  background-size: cover;
}

.project-text {
  background-color: #f64b3c;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(0deg, 4deg) translateY(0px);
}

.project-text h1 {
  transform: skew(0deg, -3deg);
  color: #003f5c;
}

.project-text-wrapper {
  background-color: #003f5c;
  height: 5rem;
  margin: 8rem 2rem 5rem 2rem;
  transform: skew(0deg, -2deg) translateY(15px);
  z-index: 10;
}

.onHover:hover {
  transform: scale(0.98);
  transition: all 100ms ease-in;
  box-shadow: 5px 5px 10px grey;
}

.onHover:hover .see-details {
  display: block;
}
.see-details {
  width: 5rem;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.see-details button {
  width: 100%;
  padding: 0.2rem 1rem;
  border: none;
  background-color: #4cd3c2;
  outline: 3px solid #4cd3c2;
  outline-offset: -1px;
  transition: all 100ms linear;
  color: white;
  font-size: large;
}

.see-details button:hover {
  transition: outline-offset 100ms linear;
  outline-offset: 5px;
  background-color: black;
}

.techstack-grid {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
}
.list-title {
  font-weight: bold;
}

.frontend,
.backend,
.others {
  padding: 1rem 5rem;
  text-align: start;
}

.project-brief {
  background-color: #abf0e9;
  padding: 1rem;
}

.screenshot {
  margin-top: 1rem;
}
.screenshot img {
  width: 100%;
}
.screenshot h6 {
  margin: 2rem 0 1rem 0;
}

.modal-header-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: inline-block;
  width: 2rem;
}
